name: CI
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest
    container: node
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: pladat
          POSTGRES_DB: pladat
          POSTGRES_PASSWORD: pladat
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v2
      - name: Install modules
        run: npm install
      - name: Run tests
        run: |
          npm start &
          sleep 2
          npm run test
        env:
          NODE_ENV: development
          DB_USER: pladat
          DB_HOST: localhost
          DB_PASSWORD: pladat
          DB_DATABASE: pladat
          RESET_DB: true